.state {
  width: 75%;
  margin: 30px auto;
}

.state h1 {
  background-color: #ebe6e68c;
  text-align: center;
  padding: 25px 15px;
  color: #000000;
}

th,
td {
  text-align: left;
  padding: 20px 25px;
  background-color: #ebe6e68c;
  border-radius: 5px;
}

tr {
  margin: 25px;
}
